body{
    background: rgb(67, 67, 67);
}

.hyperlink{
    text-align:center;
    padding: 10px;
}

.principal{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}

.beneficios{

    text-align: left;
    padding: 10px;
    display: inline-block;
    height: 30px;
    width: 220px;

}

#imagem1{
    padding:20px;
    padding-left: 25%;
    width: 50%;
    height:250;
}

#beard{

    width: 250px;
    height: 250px;

}