body{
    background: rgb(67, 67, 67);
    text-align:center;
}


#testthing{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px;
}


img{
    height: 350;
    width: 70%;
    padding: 30px
}