header{
    background: #bbbbbb;
    padding: 20px 0;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.produtos{
    width: 940;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 20px;
}
.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
.produtos li:hover{
    border-color: #c78c19;
}
.produtos li:active{
    border-color: #088c19;
}
.produtos li:hover h2{
    font-size: 42px;
}
footer{
    text-align: center;
    background-color: #cccccc;
    padding: 40px;
}
.copyright{
    color:#ffffff;
    font-size: 13;
    margin: 20px 0 0;
}
main{
    width: 1240px;
    margin: 0 auto;
}
form{
    margin: 40px 0;

}
form label, form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
form input{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
}
.input-padrao{
    width:250px;
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
}
.input-text{
    width:450px;
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
}
.radio-input{
    display: inline-block;
}
.input-btn{
    width: 90px;
    padding: 15px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 18;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}
.input-btn:hover{
    transform: scale(1.1);
}
.type-info{
    padding-bottom: 25px;
}
.atendimento{
    padding-bottom: 25px;
}
.atendimento p{
    padding-bottom: 20px;
}
#noticias-checkbox{
    padding-top: 25px;
}